div(class="container")
	div(class="row")
		!= partial("../_shared_partials/_nav.jade")
	div(class="row")
		h1(class="text-center") #{sitename}
		hr
	div(class="row")
		h3(class="text-center") Getting Started
		hr
	div(class="row")
		p(class="text-center") This article will show you how to get started making your own autonomous robot that cuts grass.
	div(class="row")
		div(class="box")
			div(class="col-lg-12")
			img#SomeImageID(src='2015_prototype_platform.jpg',alt="Platform",title="Platform Prototype", class="img-responsive center-block")
			hr
	div(class="text-center") <!-- START: Livefyre Embed --><div id="livefyre-comments"></div><script type="text/javascript" src="http://zor.livefyre.com/wjs/v3.0/javascripts/livefyre.js"></script><script type="text/javascript">(function () {var articleId = fyre.conv.load.makeArticleId(null);fyre.conv.load({}, [{el: 'livefyre-comments', network: "livefyre.com", siteId: "377913", articleId: articleId, signed: false, collectionMeta: {articleId: articleId, url: fyre.conv.load.makeCollectionUrl(),}}], function() {});}());</script><!-- END: Livefyre Embed -->

	div(class="text-center") <script src=../js/analytics.js></script>