div(class="container")
	div(class="row")
		h1(class="text-center") #{sitename}
		hr
	div(class="row")
		h3(class="text-center") About
		hr
	div(class="row") Snippy was originally designed and prototyped by Andrew Wilkie with input, feedback and support from the OpenFlocks Community.
