body(background="community.jpg")
	div(class="container")
		div(class="row")
			div(class="col-xs-12")
				div(class="col-xs-1")
				div(class="col-xs-10")
					!= partial("_shared_partials/_nav.jade")
				div(class="col-xs-1")
		div(class="row")
			div(class="col-xs-12")
				div(class="col-xs-2 text-left")
				div(class="col-xs-8")
				div(class="col-xs-2")
		div(class="row")
			div(class="box clearfix")
			div(class="col-xs-12")
				div(class="col-xs-1")
				div(class="col-xs-10 text-center")
				
		div(class="text-center") <script src=js/analytics.js></script>