body
	div(class="container")
		div(class="row")
		div(class="col-lg-12")
			div(class="col-md-1")
			div(class="col-md-10")
				!= partial("_shared_partials/_nav.jade")
			div(class="col-md-1")
		div(class="row")
		div(class="col-lg-12")
			div(class="col-md-1")
			div(class="col-md-10")
				img#SomeImageID(src='/snippy_banner_cairo.jpg',alt="Snippy!",title="Snippy image title", class="img-responsive center-block")
			div(class="col-md-1")
		div(class="row")
		div(class="box clearfix")
		div(class="col-lg-12")
			div(class="col-md-1")
			div(class="col-md-10 text-center")
				h2 Quick Start
				h3 1. Use your own parts or get the 
					a(href="https://github.com/OpenFlocks/snippy_the_sheep/blob/master/snippy_the_sheep.wiki/Parts-List.md") starter kit.
				h3 2. DIY: build, customize, innovate!
				h3 3. Show-off your creation and swap ideas with the 
					a(href="https://plus.google.com/u/0/communities/118002614481412920719") Community.
			div(class="col-md-1")
		div(class="text-center") <script src=js/analytics.js></script>