nav(class="navbar navbar-brand")
	div(class="container-fluid")
		ul(class="nav nav-pills nav-justified")
			li
				a(href="/index") Home
			li
				a(href="/articles/getting_started") Articles
			li
				a(href="/search") Search
			li
				a(href="/contact") Contact
			li
				a(href="/about") About